<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <client>
      <!-- You can use your own local ip address instead of localhost, by this way, 
                  the app is going to work in a Local Area Network-->
      <endpoint name="NCConfig"
                contract="NumberConverter.INCService"
                binding="wsHttpBinding"
                address="http://localhost:12345/NCService"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>